/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

$gray: #b2b2b2;

$lightergreen: #afc2aa;
$lightgreen: #6e755f;
$darkgreen: #403f33;
$darkergreen: #1e1e18;

$lightbrown: #ffdda0;
$orange: #e53516;
